<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Alytics book</title>
        <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css">
    </head>
    <body>
    <div class="container">
        <h1>Alytics book</h1>
        <hr />
        <div class="page"></div>
    </div>

    <script type = "text/template" id = "book-list-template">
        <table class="table striped">
            <thead>
                <tr>
                    <th>Группа пользователей</th>
                    <th width="50%">Права</th>
                    <th width="20%"></th>
                </tr>
            </thead>
            <tbody>
                <% _.each(ugroups, function(ugroup) { %>
                    <tr>
                        <td><%= ugroup.get('Title') %></td>
                        <td>
                            <button class = "btn btn-info  spoiler-head">Посмотреть права</button>



                            <table class="table striped spoiler-body hide">
                                <thead>
                                    <tr>
                                        <th>Поле</th>
                                        <th>Право</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% _.each(ugroup.get('Attr'), function(attr) { %>
                                        <tr>
                                            <td><%= attr.Column_name %></td>
                                            <td><%= attr.Is_active %></td>
                                            <td><a href = "/#/usergroups/edit/<%= attr.id %>" class = "btn">Редактировать</a></td>
                                        </tr>
                                    <% }); %>
                                </tbody>
                            </table>

                        </td>
                        <td>
                            <a href = "/?usergroups_id=<%= ugroup.id %>" class = "btn btn-primary  btn-mini">Посмотреть как он</a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>

        <hr/>
        <a href = "/#/add" class = "btn btn-primary">Добавить книгу</a>
        <hr/>
        <table class="table striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Название</th>
                    <th>Заголовок</th>
                    <th>Автор</th>
                    <th>Описание</th>
                    <th>Цена</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% _.each(books, function(book) { %>
                    <tr>
                        <td><input type="checkbox" class="delete-checkbox" book-id="<%= book.id %>"></td>
                        <td><%= book.get('Name') %></td>
                        <td><%= book.get('Title') %></td>
                        <td><%= book.get('Author') %></td>
                        <td><%= book.get('Descripition') %></td>
                        <td><%= book.get('Price') %></td>
                        <td><a href = "/#/edit/<%= book.id %>" class = "btn">Редактировать</a></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <button type="button" class="btn btn-danger deleteItems">Удалить выбранные книги</button>

    </script>



    <script type = "text/template" id = "edit-book-template">
        <div class="alert alert-warning fade in hide">
        </div>
        <form class="edit-book-form">
            <legend><%= book ? 'Обновить' : 'Добавить' %> книгу</legend>
            <label>Название</label>
            <input type = "text" name = "Name" value = "<%= book ? book.get('Name') : '' %>"/>
            <label>Заголовок</label>
            <input type = "text" name = "Title" value = "<%= book ? book.get('Title') : '' %>"/>
            <label>Автор</label>
            <input type = "text" name = "Author" value = "<%= book ? book.get('Author') : '' %>"/>
            <label>Описание</label>
            <textarea name = "Descripition"><%= book ? book.get('Descripition') : '' %></textarea>
            <label>Цена</label>
            <input type = "text" name = "Price" value = "<%= book ? book.get('Price') : '0' %>"/>
            
            <hr/>
            
            <button type = "submit" class = "btn"><%= book ? 'Обновить' : 'Добавить' %></button>
            <% if (book) { %>
                <input type="hidden" name="id" value="<%= book.id %>" />
                <button type="button" class="btn btn-danger delete">Удалить</button>
            <% }; %>
        </form>
    </script>

    <script type = "text/template" id = "edit-ugroup-attr-template">
        <form class="edit-ugroup-attr-form">
            <legend><%= attr ? 'Обновить' : 'Добавить' %> атрибут</legend>
            <% if (attr) { %>
                <label>Поле: <b><%= attr.get('Column_name') %></b></label>
            <% } else { %>
                <label>Поле</label>
                <input type = "text" name = "Column_name" value = "<%= attr ? attr.get('Column_name') : '' %>"/>
            <% }; %>

            <select name = "Is_active">
                <option value = "0" >Не разрешено</option>
                <option value = "1" <%= attr.get('Is_active') ? 'selected' : '' %> >Разрешено</option>
            </select>
            <hr/>
            
            <button type = "submit" class = "btn"><%= attr ? 'Обновить' : 'Добавить' %></button>
            <% if (attr) { %>
                <input type="hidden" name="id" value="<%= attr.id %>" />
            <% }; %>
        </form>
    </script>



    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.10/backbone-min.js"></script>

    <script src = "/static/js/base.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style/book.css" />

</body>
</html>
